<li id="<%=list.id%>">
    <%= link_to list.name, list_path(list), class: 'list_title' %> <br />
    <%= link_to "Delete #{list.name} List", list_path(list), method: 'delete', remote: true %>
  </li>
