<div class="panel panel-default">
    <li id="<%=list.id%>">
    <%= link_to list.name, list_path(list), class: 'list_title' %> <br />
    <em><small><%= link_to "Delete", list_path(list), method: 'delete', remote: true %></small></em>
  </li><br />
</div>
