<h1> Here are all your lists <h2>

  <ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, user_list_path(@user), class: 'list_title' %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Create a New List", new_user_list_path(@user), class: 'new_list' %>
